db:
  user: "root"
  pwd: "123456"
  host: "192.168.147.128"
  port: 3310
  database: "cc"
#dsn="user:pass@tcp(host:port)/dbname?charset=utf8mb4&parseTime=True&loc=Local"
  dsn: "root:123456@tcp(192.168.147.128:3310)/cc?charset=utf8mb4&parseTime=True&loc=Local"

http:
  host: "localhost"
  port: ":8080"

redis:
  address: "192.168.147.128:6389"
  password: ""

mongo:
  uri: "mongodb://192.168.147.128:27017"

app:
  jwt_secret: "142857"